<div class="editor-panel">
	<div class="editor-books-panel">
		<div class="new-notebook">
			<a href="javascript:;" class="create-notebook"> +新建专辑</a> 
			<div class="add-notebook-box">
				<input placeholder="请输入专辑名..." type="text" id="bookName" class="notebook-input"> 
				<a href="javascript:;" class="btn btn-mainGrey w48" id="cancel-create-notebook"> 取消 </a>
				<a href="javascript:;" class="btn btn-mainGreen w48" id="sure－create-notebook"> 确定 </a>
			</div>
		</div>
		<ul class="list-notebook">
			<% bookList.forEach(function(info, index){ %>
			<li class="one-notebook" relBID="<%- info._id %>">
				<a href="javascript:;" class="notebook-name">
					<i class="icon-book"></i>
					<span><%- info.name %></span>
				</a>
				<a href="javascript:;" class="notebook-edit" relBID="<%- info._id %>">
					<i class="icon-edit"></i>
				</a> 
				<a href="javascript:;" class="notebook-delete" relBID="<%- info._id %>"> 
					<i class="icon-trash"></i>
				</a> 
			</li>
			<% }); %>
			<li class="one-notebook active" relBID="0">
				<a href="javascript:;" class="notebook-name">
					<i class="icon-book"></i>
					<span>未分类</span>
				</a>
			</li>  
		</ul>
		<div class="commercial">   
			<p>属于作者的专辑, 一个简洁而优雅的环境让你专注于书写。</p>  
		</div>
	</div>
	<div class="editor-articles-panel">
		<div id="new-note">
			<a href="javascript:;" class="new-note-link">
				<i class="icon-pencil"></i>
				<span class="win-text">+新建文章 </span>
			</a> 
		</div>
		<ul class="list-notes">
			<!-- <li class="one-note">
				<i class="icon-file note-icon"></i>
				<p class="abbreviate">x</p>
				<p class="wordage win-text">字数: 1</p>
				<a href="javascript:;" class="note-link-title">无标题文章</a>
			</li>
			<li class="one-note active">
				<i class="icon-file note-icon"></i>
				<p class="abbreviate">x</p>
				<p class="wordage win-text">字数: 1</p>
				<a href="javascript:;" class="note-link-title">无标题文章</a>
			</li>
			<li class="one-note">
				<i class="icon-file note-icon"></i>
				<p class="abbreviate">x</p>
				<p class="wordage win-text">字数: 1</p>
				<a href="javascript:;" class="note-link-title">无标题文章</a>
			</li> -->
			
		</ul>
		<div class="new-note-bottom hide">
			<a href="javascript:;">+在下方新建文章</a>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
	var BOOKID = '0';
	var ARTICLEID = '0';
	var RELEASED = true;
	//显示创建专辑面板
	$('.create-notebook').click(function(){
		$('.add-notebook-box').show();
		$('.add-notebook-box').animate({ 
			'height' : '85px'
		}, 500);
	});
	//取消创建专辑面板
	$('#cancel-create-notebook').click(function(){
		$('.add-notebook-box').animate({ 
			'height' : '0px'
		}, 500, function(){
			$('.add-notebook-box').hide();
		});
	});
	//创建专辑
	$('#sure－create-notebook').click(function(){
		var _bookName = $('#bookName').val();
		if(_bookName){
			$.ajax({
                type: 'POST',
                url: '/b/add',
                data: {bookName : _bookName},
                success: function(result){
                    if(0 == result.status){
                        toastr.success('添加专辑成功。');
                        BOOKID = result.content._id;
                        $('#bookName').val('');
                        $('.add-notebook-box').animate({ 
							'height' : '0px'
						}, 500, function(){
							$('.add-notebook-box').hide();
							$('.one-notebook').removeClass('active');
							createBookHtml(result.content);
						});
                    }else{
                        toastr.error(result.content);
                    }
                }
            });
		}else{
			toastr.error('专辑名称不能为空。');
		}
	});
	//选中专辑
	$('.list-notebook').delegate('li', 'click',function(){
		$('.one-notebook').removeClass('active');
		$(this).addClass('active');
		BOOKID = $(this).attr('relBID');
		$.ajax({
            type: 'GET',
            url: '/b/' + BOOKID,
            data: {},
            success: function(result){
                if(0 == result.status){
	            	console.log(result);
	            	$('.list-notes').html('');
	            	createNoteHtml(result.content);
                }else{
                    toastr.error(result.content);
                }
            }
        });
	});
	//选中文章
	$('.list-notes').delegate('li', 'click',function(){
		$('.one-note').removeClass('active');
		$(this).addClass('active');
		ARTICLEID = $(this).attr('relPID');
		$.ajax({
            type: 'GET',
            url: '/p/' + ARTICLEID,
            data: {},
            success: function(result){
                if(0 == result.status){
	            	console.log(result);
	            	//输出文章名字
	            	$('#editor-title').val(result.content.title);
	            	//输出文章内容
	            	$('#editor-content').html(result.content.content);
                }else{
                    toastr.error(result.content);
                }
            }
        });
	});
	//删除专辑
	$('.list-notebook').delegate('.notebook-delete', 'click',function(){
		var _this = $(this);
		var _bookID = _this.attr('relBID');
		$.ajax({
            type: 'POST',
            url: '/b/del',
            data: {bookID : _bookID},
            success: function(result){
                if(0 == result.status){
                    toastr.success(result.content);
                    _this.parent().animate({ 
						'opacity' : '0'
					}, 500, function(){
						$('.one-notebook').removeClass('active');
						var _ul = _this.parent().parent();
						_this.parent().remove();
						_ul.children('.one-notebook:first').addClass('active');
						
					});
                }else{
                    toastr.error(result.content);
                }
            }
        });
	});

	//修改专辑
	$('.list-notebook').delegate('.notebook-edit', 'click',function(){
		var _this = $(this);
		var _bookID = _this.attr('relBID');
		// $.ajax({
  //           type: 'POST',
  //           url: '/b/update',
  //           data: {bookID : _bookID},
  //           success: function(result){
  //               if(0 == result.status){
  //                   toastr.success(result.content);
                    
  //                   _this.parent().animate({ 
		// 				'opacity' : '0'
		// 			}, 500, function(){
		// 				_this.parent().remove();
		// 			});
  //               }else{
  //                   toastr.error(result.content);
  //               }
  //           }
  //       });
	});

	//新增文章
	$('.new-note-link').click(function(){
		$.ajax({
            type: 'POST',
            url: '/p/add',
            data: {bookID : BOOKID},
            success: function(result){
                if(0 == result.status){
	            	var _noteHtml = createNote(result.content);
					$('.one-note').removeClass('active');
					$('.list-notes').prepend(_noteHtml);
                }else{
                    toastr.error(result.content);
                }
            }
        });
	});
	//保存文章
	$('#saveNote').click(function(){
		var _title = $('#editor-title').val();
		var _content = $('#editor-content').html();
		//输出文章名字
		$.ajax({
            type: 'POST',
            url: '/p/' + ARTICLEID,
            data: {
            	title : _title,
            	content : _content,
            	released : RELEASED
            },
            success: function(result){
                if(0 == result.status){
                	console.log(result.content);
	            	toastr.success('保存成功。');
                }else{
                    toastr.error(result.content);
                }
            }
        });	
	});



	function init(){
		$.ajax({
	        type: 'GET',
	        url: '/b/' + BOOKID,
	        data: {},
	        success: function(result){
	            if(0 == result.status){
	            	console.log(result);
	            	$('.list-notes').html('');
	            	createNoteHtml(result.content);
	            }else{
	                toastr.error(result.content);
	            }
	        }
	    });
	}
	init();
	


	function createBookHtml(info){
		var _html = '<li class="one-notebook active" relBID="' + info._id + '"><a href="javascript:;" class="notebook-name" relBID="' + info._id + '"><i class="icon-book"></i><span>' + info.name + '</span></a><a href="javascript:;" class="notebook-edit" relBID="' + info._id + '"><i class="icon-edit"></i></a><a href="javascript:;" class="notebook-delete" relBID="' + info._id + '"><i class="icon-trash"></i></a></li>';
		$('.list-notebook').prepend(_html);
	}
	function createNoteHtml(list){
		var _html = '';
		for(var i = 0; i < list.length; i++){
			_html += '<li class="one-note ' + (i == 0 ? 'active' : '') + '" relPID="' + list[i]._id + '"><i class="icon-file note-icon"></i><p class="abbreviate"></p><p class="wordage win-text">字数: ' + list[i].content.length + '</p><a href="javascript:;" class="note-link-title">' + list[i].title + '</a></li>';
		}
		$('.list-notes').prepend(_html);
	}
	function createNote(obj){
		var _html = '<li class="one-note active" relPID="' + obj._id + '"><i class="icon-file note-icon"></i><p class="abbreviate"></p><p class="wordage win-text">字数: 0</p><a href="javascript:;" class="note-link-title">未命名</a></li>';
		return _html;
	}


});
</script>