<div class="editor-panel">
	<div class="editor-books-panel">
		<div class="new-notebook">
			<a href="javascript:;" class="create-notebook"> +新建笔记</a> 
			<div class="add-notebook-box">
				<input placeholder="请输入笔记名..." type="text" id="bookName" class="notebook-input"> 
				<a href="javascript:;" class="btn btn-mainGrey w48" id="cancel-create-notebook"> 取消 </a>
				<a href="javascript:;" class="btn btn-mainGreen w48" id="sure－create-notebook"> 确定 </a>
			</div>
		</div>
		<ul class="list-notebook">
			<% bookList.forEach(function(info, index){ %>
			<li class="one-notebook">
				<a href="javascript:;" class="notebook-name">
					<i class="icon icon-notebook"></i>
					<span><%- info.name %></span>
				</a>
				<a href="javascript:;" class="notebook-edit" relBID="<%- info._id %>">
					<i class="icon-edit"></i>
				</a> 
				<a href="javascript:;" class="notebook-delete" relBID="<%- info._id %>"> 
					<i class="icon-trash"></i>
				</a> 
			</li>
			<% }); %>
			<li class="one-notebook active">
				<a href="javascript:;" class="notebook-name">
					<i class="icon icon-notebook"></i>
					<span>未分类</span>
				</a>
			</li>  
		</ul>
		<div class="commercial">   
			<p>属于写作者的文集, 一个简洁而优雅的环境让你专注于书写。</p>  
		</div>
	</div>
	<div class="editor-articles-panel">
		asdasd
	</div>
</div>
<script type="text/javascript">
$(function(){
	//显示创建笔记面板
	$('.create-notebook').click(function(){
		$('.add-notebook-box').show();
		$('.add-notebook-box').animate({ 
			'height' : '85px'
		}, 500);
	});
	//取消创建笔记面板
	$('#cancel-create-notebook').click(function(){
		$('.add-notebook-box').animate({ 
			'height' : '0px'
		}, 500, function(){
			$('.add-notebook-box').hide();
		});
	});
	$('#sure－create-notebook').click(function(){
		var _bookName = $('#bookName').val();
		if(_bookName){
			$.ajax({
                type: 'POST',
                url: '/b/add',
                data: {bookName : _bookName},
                success: function(result){
                    if(0 == result.status){
                        toastr.success(result.content);
                        $('#bookName').val('');
                        $('.add-notebook-box').animate({ 
							'height' : '0px'
						}, 500, function(){
							$('.add-notebook-box').hide();
						});
                    }else{
                        toastr.error(result.content);
                    }
                }
            });
		}else{
			toastr.error('笔记名称不能为空。');
		}
	});
});
</script>