<%- include header %>
<%- include leftBar %>
    
    <div class="right-content"><!-- rightContent -->
    	<%- include booksPanel %>
    	<div class="editor-panel-box">
            <div class="editor-panel-title">
                <input type="text" value="" placeholder="未命名">
            </div>
            <div class="editor-panel-content">
                <textarea></textarea>
			</div>
		</div>
  	</div><!-- rightCont end -->
    </body>
</html>
    <script type="text/javascript">
    
    </script>
