<%- include header %>
<%- include leftBar %>
    
    <div class="right-content"><!-- rightContent -->
    	<%- include booksPanel %>
    	<div class="editor-panel-box">
            <div class="editor-panel-title">
                <input type="text" value="" placeholder="未命名">
            </div>
            <div class="editor-panel-content">
                <ul class="toolbar">
                    <li class="menu">
                        <a class="submenu-cover icon-bold" herf="javascript:;">
                        </a>
                        <ul class="submenu">
                            <li>
                                <a class="icon-bold" herf="javascript:;">
                                </a>
                            </li>
                            <li>
                                <a class="icon-italic" herf="javascript:;">
                                </a>
                            </li>
                            <li>
                                <a class="icon-strikethrough" herf="javascript:;">
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="icon-quote-left" herf="javascript:;">
                        </a>
                    </li>
                    
                    
                </ul>
                <div class="view-area" contenteditable="true" style="height: 576px;"></div>
			</div>
		</div>
  	</div><!-- rightCont end -->
    </body>
</html>
    <script type="text/javascript">
    
    </script>
