<%- include header %>
<%- include leftBar %>
    
    <div class="right-content"><!-- rightContent -->
    	<%- include booksPanel %>
    	<div class="editor-panel-box">
            <div class="editor-panel-title">
                <input type="text" value="" placeholder="未命名">
            </div>
            <div class="editor-panel-content">
                <ul class="toolbar clearfix">
                    <li class="menu">
                        <a class="submenu-cover icon-bold" data-toggle="tooltip" data-original-title="粗体">
                        </a>
                        <ul class="submenu">
                            <li>
                                <a class="icon-bold" data-toggle="tooltip" data-original-title="粗体">
                                </a>
                            </li>
                            <li>
                                <a class="icon-italic" data-toggle="tooltip" data-original-title="斜体">
                                </a>
                            </li>
                            <li>
                                <a class="icon-strikethrough" data-toggle="tooltip" data-original-title="删除线">
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="icon-quote-left" data-toggle="tooltip" data-original-title="引用">
                        </a>
                    </li>
                    <li class="menu">
                        <a class="submenu-cover " data-toggle="tooltip" data-original-title="标题一">
                            H1
                        </a>
                        <ul class="submenu">
                            <li>
                                <a data-toggle="tooltip" data-original-title="标题一">
                                    H1
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tooltip" data-original-title="标题二">
                                    H2
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tooltip" data-original-title="标题三">
                                    H3
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tooltip" data-original-title="标题四">
                                    H4
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a class="submenu-cover icon-link" data-toggle="tooltip" data-original-title="插入链接">
                        </a>
                        <ul class="submenu">
                            <li data-shortcut="ctrl-k" data-mac-shortcut="meta-k">
                                <a class="icon-link" data-toggle="tooltip" data-original-title="插入链接">
                                </a>
                            </li>
                            <li data-shortcut="ctrl-p" data-mac-shortcut="meta-p">
                                <a class="icon-picture" data-toggle="tooltip" data-original-title="插入图片">
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a class="submenu-cover " data-toggle="tooltip" data-original-title="插入链接">
                            <i class="icon-undo">
                            </i>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a data-toggle="tooltip" data-original-title="撤销">
                                    <i class="icon-undo">
                                    </i>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tooltip" data-original-title="重做">
                                    <i class="icon-repeat">
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="pull-right publish-button-item">
                        <a href="javascript:void(null)" data-action="publicize" id="publish-button">
                            <i class="icon-mail-forward">
                            </i>
                            发布文章
                        </a>
                    </li>
                    <li class="pull-right">
                        <a href="javascript:void(null)" data-action="trigger-writing-mode" data-toggle="tooltip"
                        data-original-title="切换到写作模式">
                            <i class="icon-resize-full">
                            </i>
                        </a>
                    </li>
                    <li class="pull-right">
                        <a href="javascript:void(null)" data-action="trigger-save" data-toggle="tooltip"
                        data-original-title="保存">
                            <i class="icon-save">
                            </i>
                        </a>
                    </li>
                    <li class="history-btn">
                        <a href="javascript:void(null)" data-action="trigger-history-mode" data-toggle="tooltip"
                        data-original-title="历史版本">
                            <i class="icon-time">
                            </i>
                        </a>
                    </li>
                    <span class="saving-notice">
                    </span>
                </ul>
			</div>
		</div>
  	</div><!-- rightCont end -->
    </body>
</html>
    <script type="text/javascript">
    
    </script>
