<%- include header %>
<%- include leftBar %>
    
    <div class="right-content"><!-- rightContent -->
    	<%- include booksPanel %>
    	<div class="index-panel-box">
            <div class="editor-panel-content">
                213
			</div>
		</div>
  	</div><!-- rightCont end -->
    </body>
</html>
    <script type="text/javascript">
    $(function(){
        /* 实例化编辑器 */
        var ue = UE.getEditor('container');
    });
    </script>
