	    <footer>
	        <div class="footer-l">
	            <p>
	                <a href="javascript:;" target="_blank">关于酷鱼</a> |
	                <a href="javascript:;" target="_blank">联系我们</a> |
	                <a href="javascript:;" target="_blank">开发日志</a> |
	                <a href="javascript:;" target="_blank">帮助中心</a>
	            </p>
	            <p>©2014-2019 <a href="/" target="_blank">酷鱼网</a>  京ICP备14019006号</p>
	        </div>
	        <div class="footer-r">
	            关注我们:
	            <a href="javascript:;" target="_blank">
	                <i class="icon-github"></i>
	            </a>
	            <a href="javascript:;" target="_blank">
	                <i class="icon-comments"></i>
	            </a>
	            <a href="javascript:;" target="_blank">
	                <i class="icon-envelope"></i>
	            </a>
	        </div>
	        <div class="top-box">
		        <a href="javascript:;"><i>Top</i></a>
		    </div>
	    </footer>
	</body>
</html>