<%- include header %>
<%- include leftBar %>
    <div class="right-content"><!-- rightContent -->
    	<%- include leftPanel %>
    	<div class="index-panel-box">
			<div class="index-panel-title">
                <ul>
                    <li class="active">
                        <a href="###">酷鱼博客</a>
                    </li>
                    <!-- <li class="">
                        <a href="###">热门文章</a>
                    </li> -->
                </ul>
            </div>
            <div class="index-panel-content">
                <ul class="sort-nav">
                    <li class="active">
                        <a href="###">技术</a>
                    </li>
                    <li class="">
                        <a href="###">分享</a>
                    </li>
                    <li class="">
                        <a href="###">心情</a>
                    </li>
                    <li class="">
                        <a href="###">生活</a>
                    </li>
                </ul>
                <ul class="article-nav">
                    <li>
                        <a class="article-box" href="###">
                            <span class="article-title">标题标题标题标题标题标题标题标题</span>
                            <img src="http://tp4.sinaimg.cn/1704287871/180/40057873552/1">
                            <span class="article-content"> 
                            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</span>
                        </a>
                        <div class="article-info">
                            <a class="author" href="###"><i class="icon-user"></i>yves</a>
                            <!-- <a class="notebook" href="###"><i class="icon-book"></i>前端</a> -->
                            <!-- <a class="collections" href="###"><i class="icon-th"></i>专题</a> -->
                            <a class="comments" href="###"><i class="icon-comments-alt"></i>2</a>
                            <a class="like-icon-button" href="###"><i class="icon-heart-empty"></i>3</a>
                            <a class="bookmark" href="###"><i class="icon-bookmark-empty"></i>0</a>
                            <a class="bookmark" href="###"><i class="icon-calendar"></i>2015/01/19 16:41</a>
                        </div>
                    </li>
                    <li>
                        <a class="article-box" href="###">
                            <span class="article-title">标题标题标题标题标题标题标题标题</span>
                            <img src="http://tp4.sinaimg.cn/1704287871/180/40057873552/1">
                            <span class="article-content"> 
                            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</span>
                        </a>
                        <div class="article-info">
                            <a class="author" href="###"><i class="icon-user"></i>yves</a>
                            <!-- <a class="notebook" href="###"><i class="icon-book"></i>前端</a> -->
                            <!-- <a class="collections" href="###"><i class="icon-th"></i>专题</a> -->
                            <a class="comments" href="###"><i class="icon-comments-alt"></i>2</a>
                            <a class="like-icon-button" href="###"><i class="icon-heart-empty"></i>3</a>
                            <a class="bookmark" href="###"><i class="icon-bookmark-empty"></i>0</a>
                            <a class="bookmark" href="###"><i class="icon-calendar"></i>2015/01/19 16:41</a>
                        </div>
                    </li>
                    <li>
                        <a class="article-box" href="###">
                            <span class="article-title">标题标题标题标题标题标题标题标题</span>
                            <img src="http://tp4.sinaimg.cn/1704287871/180/40057873552/1">
                            <span class="article-content"> 
                            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</span>
                        </a>
                        <div class="article-info">
                            <a class="author" href="###"><i class="icon-user"></i>yves</a>
                            <!-- <a class="notebook" href="###"><i class="icon-book"></i>前端</a> -->
                            <!-- <a class="collections" href="###"><i class="icon-th"></i>专题</a> -->
                            <a class="comments" href="###"><i class="icon-comments-alt"></i>2</a>
                            <a class="like-icon-button" href="###"><i class="icon-heart-empty"></i>3</a>
                            <a class="bookmark" href="###"><i class="icon-bookmark-empty"></i>0</a>
                            <a class="bookmark" href="###"><i class="icon-calendar"></i>2015/01/19 16:41</a>
                        </div>
                    </li>
                    <li>
                        <a class="article-box" href="###">
                            <span class="article-title">标题标题标题标题标题标题标题标题</span>
                            <img src="http://tp4.sinaimg.cn/1704287871/180/40057873552/1">
                            <span class="article-content"> 
                            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</span>
                        </a>
                        <div class="article-info">
                            <a class="author" href="###"><i class="icon-user"></i>yves</a>
                            <!-- <a class="notebook" href="###"><i class="icon-book"></i>前端</a> -->
                            <!-- <a class="collections" href="###"><i class="icon-th"></i>专题</a> -->
                            <a class="comments" href="###"><i class="icon-comments-alt"></i>2</a>
                            <a class="like-icon-button" href="###"><i class="icon-heart-empty"></i>3</a>
                            <a class="bookmark" href="###"><i class="icon-bookmark-empty"></i>0</a>
                            <a class="bookmark" href="###"><i class="icon-calendar"></i>2015/01/19 16:41</a>
                        </div>
                    </li>
                    <li>
                        <a class="article-box" href="###">
                            <span class="article-title">标题标题标题标题标题标题标题标题</span>
                            <img src="http://tp4.sinaimg.cn/1704287871/180/40057873552/1">
                            <span class="article-content"> 
                            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</span>
                        </a>
                        <div class="article-info">
                            <a class="author" href="###"><i class="icon-user"></i>yves</a>
                            <!-- <a class="notebook" href="###"><i class="icon-book"></i>前端</a> -->
                            <!-- <a class="collections" href="###"><i class="icon-th"></i>专题</a> -->
                            <a class="comments" href="###"><i class="icon-comments-alt"></i>2</a>
                            <a class="like-icon-button" href="###"><i class="icon-heart-empty"></i>3</a>
                            <a class="bookmark" href="###"><i class="icon-bookmark-empty"></i>0</a>
                            <a class="bookmark" href="###"><i class="icon-calendar"></i>2015/01/19 16:41</a>
                        </div>
                    </li>
                    <li>
                        <a class="article-box" href="###">
                            <span class="article-title">标题标题标题标题标题标题标题标题</span>
                            <img src="http://tp4.sinaimg.cn/1704287871/180/40057873552/1">
                            <span class="article-content"> 
                            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</span>
                        </a>
                        <div class="article-info">
                            <a class="author" href="###"><i class="icon-user"></i>yves</a>
                            <!-- <a class="notebook" href="###"><i class="icon-book"></i>前端</a> -->
                            <!-- <a class="collections" href="###"><i class="icon-th"></i>专题</a> -->
                            <a class="comments" href="###"><i class="icon-comments-alt"></i>2</a>
                            <a class="like-icon-button" href="###"><i class="icon-heart-empty"></i>3</a>
                            <a class="bookmark" href="###"><i class="icon-bookmark-empty"></i>0</a>
                            <a class="bookmark" href="###"><i class="icon-calendar"></i>2015/01/19 16:41</a>
                        </div>
                    </li>
                    <li>
                        <a class="article-box" href="###">
                            <span class="article-title">标题标题标题标题标题标题标题标题</span>
                            <img src="http://tp4.sinaimg.cn/1704287871/180/40057873552/1">
                            <span class="article-content"> 
                            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</span>
                        </a>
                        <div class="article-info">
                            <a class="author" href="###"><i class="icon-user"></i>yves</a>
                            <!-- <a class="notebook" href="###"><i class="icon-book"></i>前端</a> -->
                            <!-- <a class="collections" href="###"><i class="icon-th"></i>专题</a> -->
                            <a class="comments" href="###"><i class="icon-comments-alt"></i>2</a>
                            <a class="like-icon-button" href="###"><i class="icon-heart-empty"></i>3</a>
                            <a class="bookmark" href="###"><i class="icon-bookmark-empty"></i>0</a>
                            <a class="bookmark" href="###"><i class="icon-calendar"></i>2015/01/19 16:41</a>
                        </div>
                    </li>
                    <li>
                        <a class="article-box" href="###">
                            <span class="article-title">标题标题标题标题标题标题标题标题</span>
                            <img src="http://tp4.sinaimg.cn/1704287871/180/40057873552/1">
                            <span class="article-content"> 
                            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</span>
                        </a>
                        <div class="article-info">
                            <a class="author" href="###"><i class="icon-user"></i>yves</a>
                            <!-- <a class="notebook" href="###"><i class="icon-book"></i>前端</a> -->
                            <!-- <a class="collections" href="###"><i class="icon-th"></i>专题</a> -->
                            <a class="comments" href="###"><i class="icon-comments-alt"></i>2</a>
                            <a class="like-icon-button" href="###"><i class="icon-heart-empty"></i>3</a>
                            <a class="bookmark" href="###"><i class="icon-bookmark-empty"></i>0</a>
                            <a class="bookmark" href="###"><i class="icon-calendar"></i>2015/01/19 16:41</a>
                        </div>
                    </li>
                </ul>
            </div>
		</div>
		<div class="index-page-box">
            <a class="next" href="###"><i>点击查看更多</i></a>
        </div>
  	</div><!-- rightCont end -->
    <footer>
        <div class="footer-l">
            <p>
                <a href="###" target="_blank">关于酷鱼</a> |
                <a href="###" target="_blank">联系我们</a> |
                <a href="###" target="_blank">开发日志</a> |
                <a href="###" target="_blank">帮助中心</a>
            </p>
            <p>©2014-2019 <a href="/" target="_blank">酷鱼网</a> / 京ICP备14019006号</p>
        </div>

        <div class="footer-r">
            关注我们:
            <a href="###" target="_blank">
                <i class="icon-github"></i>
            </a>
            <a href="###" target="_blank">
                <i class="icon-envelope"></i>
            </a>
            <a href="###" target="_blank">
                <i class="icon-comments"></i>
            </a>
        </div>

        </footer>
<%- include footer %>