<%- include header %>
<%- include leftBar %>
    <div class="right-content"><!-- rightContent -->
    	<%- include leftPanel %>
    	<div class="index-panel-box">
			<div class="index-panel-title">
                <ul>
                    <li class="active">
                        <a href="###">酷鱼博客</a>
                    </li>
                    <!-- <li class="">
                        <a href="###">热门文章</a>
                    </li> -->
                </ul>
            </div>
            <div class="index-panel-content">
                <ul class="sort-nav">
                    <li class="active">
                        <a href="###">技术</a>
                    </li>
                    <li class="">
                        <a href="###">分享</a>
                    </li>
                    <li class="">
                        <a href="###">心情</a>
                    </li>
                    <li class="">
                        <a href="###">生活</a>
                    </li>
                </ul>
                <ul class="article-nav">
                    <li>
                        <a href="###">
                            <span class="title">色情or情色？“十色”主编的性爱价值观</span>
                        </a>
                        <!-- <div class="article">
                            <a class="title" href="/p/b90dc7a202f4" target="_blank">色情or情色？“十色”主编的性爱价值观</a>
                            <a class="avatar maleskine-author" data-user-slug="tWzsZd" href="/users/tWzsZd">
                                <img alt="1" src="http://tp3.sinaimg.cn/1116053650/180/5616237109/1">
                            </a>
                            <br>
                            <a class="content" href="/p/b90dc7a202f4" target="_blank"> 
                            2013年7月，我开始运营一个叫做“十色”的微信号（shise360），是一个主要做性情内容的微信号。到今天也有大半年的时间了。半年时间内，十色从默默无闻，到现在成为一个圈内小有名气的性情媒体，一直保持着尽可能的独立姿态。我希望它是有趣、多元、有启发性的，好在现在还算按照我的初衷发展着。...</a>
                            <div class="article-info">
                                <a class="author" href="/users/tWzsZd">随易</a>
                                <i class="icon-book"></i>
                                <a class="notebook" href="/notebooks/97650/latest">马赛客</a>
                                <i class="icon-th"></i>&nbsp;
                                <a class="collections" href="/collection/b2Y9ZJ">有话好好说</a>
                                <a href="/p/b90dc7a202f4#comments" target="_blank"><i class="icon-comments-alt"></i>2</a>
                                <a class="like-icon-button" href="###"><i class="icon-heart-empty"></i>3</a>
                                <a class="bookmark" href="###"><i class="icon-bookmark-empty"></i></a>
                            </div>
                        </div> -->
                    </li>
                </ul>
            </div>
		</div>
		<div class="effect-page-box">
			<a class="prev" href="###" style="display:none;"><i>←</i></a>
            <a class="next" href="###" style="display:none;"><i>→</i></a>
        </div>
  	</div><!-- rightCont end -->
<%- include footer %>