<%- include header %>
<%- include leftBar %>
    <div class="right-content"><!-- rightContent -->
    	<%- include leftPanel %>
    	<div class="effect-panel-box">
			
		</div>
		<div class="effect-page-box">
			<a class="prev" href="###" style="display:none;"><i>←</i></a>
            <a class="next" href="###" style="display:none;"><i>→</i></a>
        </div>
  	</div><!-- rightCont end -->


<%- include footer %>